/*----------------global---------------------*/
/*2do menu*/
.nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family:'yanone';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}
.nav li {
    display: inline-block;
    list-style: outside none none;
    margin:.5em 1em;
    padding: 0;
}
.nav a {
    padding: .5em .8em;
    margin-left:150px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-decoration: none;
    font-size:1.7rem;
}
.nav a::before,
.nav a::after {
    content: '';
    height:24px;
    width: 24px;
    position: absolute;
    transition:all 1s ease;
    opacity:0;
}
.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top:10px solid #d1df0d;
    border-right:10px solid #d1df0d;
    transform: translate(5%, 5%);
}
.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 13px solid #d1df0d;
    border-left: 13px solid #d1df0d;
    transform: translate(10%, -5%)
}
.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}
.nav a:hover {
    color: #16bbc3;
}

/*----------------index---------------------*/

#card {
    position: relative;
    top:35vh;
    width:60%;
    height:225px;   
    padding-left:50px; 
    margin-bottom:100px;
}
#card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}
#card div a{
    color: #ffffff;
    text-decoration:underline solid 3px red;
    cursor:pointer;
}
#card .front {
    background: rgba(40,140,160,0.8);
    transform: perspective(500px) rotateY(0deg);
}
#card .back {
    background: rgba(40,140,160,0.8);
    transform: perspective(500px) rotateY(180deg);
}
#card:hover .front { 
    transform: perspective(500px) rotateY(180deg);
}
#card:hover .back { 
    transform: perspective(500px) rotateY(360deg);
}
#card div h1 {
    font-size:1.5rem;
    color: #f1f1f1;
    padding-left:15px;
    padding-top:20px;
}


/*----------------sobre mi---------------------*/

#card-2 {
    display:flex;
    flex-direction:row;
    position: relative;
    text-align: center;
    width:20%;
    height:320px;   
    margin:25px; 
    padding-right:60px;
    margin-left:800px;
    margin-top:100px;
    top:20vh;
}
#card-2 div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}
#card-2 div a{
    color: #ffffff;
    text-decoration:underline solid 3px red;
    cursor:pointer;
}
#card-2 .front {
    background: rgba(40,140,160,0.8);
    transform: perspective(500px) rotateY(0deg);
}
#card-2 .back {
    background: rgba(40,140,160,0.8);
    transform: perspective(500px) rotateY(180deg);
}
#card-2:hover .front { 
    transform: perspective(500px) rotateY(180deg);
}
#card-2:hover .back { 
    transform: perspective(500px) rotateY(360deg);
}
#card-2 div h1 {
    font-size:1.8rem;
    color: #f1f1f1;
    padding-left:15px;
    padding-top:20px;
}
.boton_ver_mas{
    position:fixed;
    display:block;
    top:70vh;
    right:45vw;
    width:10%;
    padding:5px 10px;
    border-radius:50px;
    background-color: #0a74c4;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(9, 158, 166, 0.2);
}
.boton_ver_mas-2{
    position:fixed;
    display:block;
    top:112vh;
    right:45vw;
    width:10%;
    padding:5px 10px;
    border-radius:50px;
    background-color: #0a74c4;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(9, 158, 166, 0.2);
}
.boton_ver_mas-3{
    position:absolute;
    display:block;
    top:112vh;
    right:45vw;
    width:10%;
    padding:5px 10px;
    border-radius:50px;
    background-color: #0a74c4;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(9, 158, 166, 0.2);
}
.boton_ver_mas-4{
    position:absolute;
    display:block;
    top:155vh;
    right:45vw;
    width:10%;
    padding:5px 10px;
    border-radius:50px;
    background-color: #0a74c4;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(9, 158, 166, 0.2);
}