@media(max-width:899px){
        /*----------index---------------*/
    .nav{
        display: grid;
        grid-template-columns: auto auto auto ;
    }
    .nav a::before,
    .nav a::after {
        content: '';
        height:24px;
        width: 24px;
        position: absolute;
        transition:all 1s ease;
        opacity:0;
    }
    .nav a::before {
        content: '';
        right: 0;
        top: 0;
        border-top:5px solid #d1df0d;
        border-right:5px solid #d1df0d;
        transform: translate(5%, 5%);
    }
    .nav a:after {
        content: '';
        left: 0;
        bottom: 0;
        border-bottom: 5px solid #d1df0d;
        border-left: 5px solid #d1df0d;
        transform: translate(10%, -5%)
    }
    .nav a:hover:before,
    .nav a:hover:after{
        transform: translate(0,0);
        opacity: 1;
    }
    .nav a:hover {
        color: #16bbc3;
    }
    .nav a {
        padding: .30em .20em;
        margin-left:-20px;
        top:-1vh;
        font-size:1.4rem;
    }
    #card {
        position: relative;
        top:25vh;
        width:69%;
        height:225px;   
        padding-left:70px; 
        margin-bottom:100px;
    }
    .botton-conoceme-mas{
        top:150vh;
        right:37vw;
        font-size:1.2rem;
    }   
    .redes-sociales{
        top:160vh;
        height:13%;
        margin-top:200px;
    }
    .Git-Hub-index{
        flex-basis:50px;
        flex-shrink:3;
        position: absolute;
        top:2vh;
        left:5vw;
        font-size:0.8rem;
    }
    .email-index{
        flex-basis:50px;
        flex-shrink:3;
        position: absolute;
        top:2vh;
        right:5vw;
        font-size:0.7rem;
    }
}
@media(max-width:499px){

/*----------index---------------*/
.container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ;
    }
.nav{
    display: grid;
    grid-template-columns: auto auto  ;
}
.nav a {
    font-size:1.3rem;
}
.nav li{
    padding:0.5em 0.4em;
}
.nav a::after {
    transition:none;
    opacity:0;
}
.nav a::before{
    display: none;
    border-top:0px;
    border-right:0px;
    transform:none;
}
.nav a:after {
    border-bottom:none;
    border-left:none;
    transform:none;
}
.nav a:hover {
    color:white;
}
#card {
    position: relative;
    top:25vh;
    width:77%;
    height:270px;   
    padding-left:10px; 
    margin-bottom:40px;
}
#card div h1 {
    font-size:1.2rem;
}
.botton-conoceme-mas{
    top:170vh;
    left:5vw;
    font-size:1rem;
    width:30%;
}   
.redes-sociales{
    top:160vh;
    height:13%;
    width:100%;
    margin-top:200px;
}
.Git-Hub-index{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:2vh;
    left:40vw;
    font-size:0.8rem;
}
.icono-Git-Hub-index{
    display: none;
}
.email-index{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:8vh;
    left:20vw;
    font-size:0.7rem;
}
.icono-email-index{
    display: none;
}
.index{
    top:174vh;
    font-size:0.8rem;
    margin-bottom:2px;
}

}

@media (min-width:282px)  and (max-width:361px){
    /*----------index---------------*/
    .container{
        display:grid;
        grid-template-columns: auto ;
        grid-template-rows: auto  ;
    }
    .nav{
        display: grid;
        grid-template-columns: auto auto  ;
    }
    .nav a {
        font-size:1.1rem;
    }
    .nav li{
        padding:0.2em 0.2em;
    }
    .nav a::after {
        transition:none;
        opacity:0;
    }
    .nav a::before{
        display: none;
        border-top:0px;
        border-right:0px;
        transform:none;
    }
    .nav a:after {
        border-bottom:none;
        border-left:none;
        transform:none;
    }
    .nav a:hover {
        color:white;
    }
    #card {
        position: relative;
        top:20vh;
        width:60%;
        height:170px;   
        padding-left:65px; 
    }
    #card div h1 {
        font-size:1rem;
    }
    #card .front {
        background: rgba(40,140,160,0.3);
        transform: perspective(500px) rotateY(0deg);
    }
    #card .back {
        background: rgba(40,140,160,1);
        transform: perspective(500px) rotateY(180deg);
    }
    .botton-conoceme-mas{
        top:200vh;
        left:27vw;
        font-size:0.8rem;
        width:50%;
    }   
    .redes-sociales{
        top:200vh;
        height:13%;
    }
    .Git-Hub-index{
        flex-basis:50px;
        flex-shrink:3;
        position: absolute;
        top:2vh;
        left:40vw;
        font-size:0.6rem;
        text-decoration: 3px  underline;
    }
    .icono-Git-Hub-index{
        display:none;
    }
    .email-index{
        flex-basis:50px;
        flex-shrink:3;
        position: absolute;
        left:15vw;
        width:90%;
        font-size:0.6rem;
        text-decoration: 3px  underline;
    }
    .icono-email-index{
        display:none;
    }
    .index{
        top:210vh;
        font-size:0.8rem;
        right:36vw;
    }

/* ---------------- sobre mi -----------*/
    .nav{
        display: grid;
        grid-template-columns: auto auto  ;
    }
    .nav li{
        padding:0.1em 0.2em;
    }
    .container{
            display:grid;
            grid-template-columns: auto ;
            grid-template-rows: auto  ;
    }
    #card-2 {
            position: relative;
            text-align: center;
            top:1vh;
            width:55%;
            height:365px;   
            margin:20px; 
            left:20vw;
            padding-right:10px;
            margin-top:250px;
    }
    #card-2 div h1{
            font-size:1.1rem;
    }
    .boton_ver_mas{
            position:relative;
            top:10vh;
            width:35%;
            left:38vw;
    }
    .boton_ver_mas-3{
            position: absolute;
            top:170vh;
            width:35%;
            left:38vw;
    }
    .boton_ver_mas-4{
            position: absolute;
            top:250vh;
            width:35%;
            left:38vw;
    }
    .redes-sociales-sobre-mi{
            top:340vh;
            height:10%;
    }
    .Git-Hub-sobre-mi{
            flex-basis:50px;
            flex-shrink:3;
            position: absolute;
            top:2vh;
            left:40vw;
            font-size:0.7rem;
            text-decoration: 3px  underline;
    }
    .icono-Git-Hub-sobre-mi{
            display:none;
    }
    .email-sobre-mi{
            flex-basis:50px;
            flex-shrink:3;
            position: absolute;
            top:6vh;
            left:10vw;
            width:90%;
            font-size:0.6rem;
            text-decoration: 3px  underline;
    }
    .icono-email-sobre-mi{
            display:none;
    }
    .index-sobre-mi{
            top:320vh;
            font-size:1rem;
            left:38vw;
            width:35%;
    }
}
























/* altura */
@media (max-height:800px){
    .botton-conoceme-mas{
        position:absolute;
        top:164vh;
        right:42vw;
        font-family:"SourceSansPro";
        font-size:1rem;
        margin-top:70px;
    }  
    .redes-sociales{
        margin-top:250px;
    }
    .index{
        margin-top:90px;
    }
}
@media (max-height:794px){
    .boton_ver_mas-3{
        margin-top:110px;
    }
}
@media (max-height:787px){
    .botton-conoceme-mas{
        position:absolute;
        top:164vh;
        right:42vw;
        font-family:"SourceSansPro";
        font-size:1rem;
        margin-top:145px;
    }  
    .redes-sociales{
        margin-top:300px;
    }
    .index-sobre-mi{
        margin-top:250px;
    }
    .redes-sociales-sobre-mi{
        margin-top:250px;
    }
    .boton_ver_mas-4{
        margin-top:150px;
    }
}
@media (max-height:726px){
    .index{
        top:184vh;
        font-size:1rem;
    }
    .botton-conoceme-mas{
        margin-top:205px;
        margin-bottom:20px;
    } 
    .index-sobre-mi{
        margin-top:250px;
    }
    .redes-sociales-sobre-mi{
        margin-top:250px;
    } 
    .boton_ver_mas-3{
        margin-top:190px;
    }
    .boton_ver_mas-4{
        margin-top:200px;
    }
}
@media (max-height:690px){
    .index-sobre-mi{
        margin-top:490px;
    }
    .redes-sociales-sobre-mi{
        margin-top:490px;
    } 
    .boton_ver_mas-3{
        margin-top:315px;
    }
    .boton_ver_mas-4{
        margin-top:350px;
    }
}
@media (max-height:660px){
.botton-conoceme-mas{
    position:absolute;
    top:160vh;
    right:42vw;
    font-family:"SourceSansPro";
    font-size:1rem;
    margin-top:500px;
} 
.index{
    margin-top:400px;
} 
.redes-sociales{
    margin-top:600px;
}
}
@media (max-height:626px){
    .boton_ver_mas-4{
            margin-top:563px;
        }
    
}
@media (max-height:599px){
    .index-sobre-mi{
        margin-top:635px;
    }
    .redes-sociales-sobre-mi{
        margin-top:635px;
    } 
    .boton_ver_mas-3{
        margin-top:420px;
    }
}

@media (max-height:540px){
    .botton-conoceme-mas{
        margin-top:380px;
    }  
    .redes-sociales{
        margin-top:500px;
    }
    .index{
        margin-top:300px;
    }
    .index-sobre-mi{
        margin-top:750px;
    }
    .redes-sociales-sobre-mi{
        margin-top:750px;
    } 
    .boton_ver_mas-3{
        margin-top:620px;
    }
    .boton_ver_mas-4{
        margin-top:700px;
    }
}

