@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@font-face {
    font-family:"finger";
    src: url(./fonts/finger.ttf);
}
@font-face {
    font-family:"titilium";
    src: url(./fonts/titilium.ttf);
}
@font-face {
    font-family:"yanone";
    src: url(./fonts/yanone.ttf);
}
@font-face {
    font-family:"Alfa";
    src: url(./fonts/AlfaSlabOne-Regular.ttf);
}
@font-face {
    font-family:"SourceSansPro";
    src: url(./fonts/SourceSansPro-Black.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
/* -----------   global------------------*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-image: url(https://midu.dev/images/wallpapers/una-taza-de-javascript.png);
    color: #fff;
    font-size:1.3rem;
    font-family:"yanone";
}
#particles-js {
	height:100vh; 
	width:100%;
    position:fixed;
    z-index:-1;
}
.check{
    position:relative;
    width:50px;
}
.check::before{
    content:'';
    position:absolute;
    width:50px;
    height:25px;
    background-color:#333;
    border-radius:25px;
}
.check:after{
    content:'';
    position:absolute;
    width:25px;
    background-color: #fff;
    transition:0.25s;
    border:2px solid #333;
    box-sizing:border-box;
}
.check:checked:after{
    left:25px;
    border:2px solid #00a1ff;
}
.check:checked::before{
    background-color:#00a1ff ;
}
.contenedor {
	width:90%;
	max-width: 1200px;
	margin-left:auto; 
	margin-right:auto;
    margin-top:15px;
    padding:20px 30px;
    position:relative;
    z-index:99;
    opacity:.85;
}
.contenedor.header {
    height:calc(100vh - 55px);
    border:3px solid #555555;
}
.barra-navegacion ul {
    display:flex; 
    justify-content:space-between;
    align-items: center;
}
.barra-navegacion li {
    list-style:none;
    display:inline-block;
}

.barra-navegacion .logo { 
    color:#014001;
    font-size:10px;
}

.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}

.barra-navegacion a:hover {
    color: #3dff3e;
    border-bottom: 1px solid currentcolor;
}

.contenido-descripcion {
    width:125%;
    display: flex;
    height:100%;
    align-items: center;
}

.contenido-descripcion .titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contenido-descripcion .titulo span:first-child {
    font-size:50px; 
    display: block;
    font-weight:300;
}

.contenido-descripcion .titulo span:last-child {
    font-weight:900;
    font-size: 100px;
}

.contenido-descripcion .btn-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 25px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #3dff3e;
    border: 1px solid #555555;
    animation: parpadeo 2s linear infinite;
    transition: .7s ease;
}
.contenido-descripcion .btn-link:hover {
    border: 1px solid #3dff3e;
    animation: none;
}
@keyframes parpadeo  {
    0%, 31%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }
    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}

/*----------------index---------------------*/
.container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.botton-conoceme-mas{
    position:absolute;
    top:163vh;
    left:30vw;
    font-family:"SourceSansPro";
    font-size:1.5rem;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(231, 214, 214, 0.2);
    border-radius:50px;
}
.redes-sociales{
    display:flex;
    flex-direction:row;
    position: absolute;
    font-family:"finger";
    top:150vh;
    margin-top:180px;
    width:100%;
    background-color: rgba(38,39,39,0.9);
    height:8%;
}
.redes-sociales:hover{
    background: rgba(38,39,39,0.9);
    background: -webkit-linear-gradient(to top, #1e292e, #16222A);  
    background: linear-gradient(to top, #141516, #1c2d38);
    transition: 1.5s;
}
#links-footer{
    text-decoration: none;
    color: rgb(211, 211, 127);
}
.Git-Hub-index{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:1vh;
    left:1vw;
}
.email-index{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:1vh;
    right:5vw;
    font-size:1rem;
}
.index{
    position:absolute;
    display:block;
    right:2vw;
    padding:5px 10px;
    border-radius:50px;
    background-color: #050505;
    width: auto;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(231, 214, 214, 0.2);
    top:163vh;
}
.index:hover{
    background-color: #242728;
}
.subir{
    color:white;
    text-decoration:none;
    font-family:"SourceSansPro";
}
/*/*----------------sobre mi---------------------*/
.conocemes{
    display:flex;
    flex-direction:row;
}
.redes-sociales-sobre-mi{
    display:flex;
    flex-direction:row;
    position: absolute;
    font-family:"finger";
    top:230vh;
    width:100%;
    background-color: #262727;
    height:8%;

}
.redes-sociales-sobre-mi:hover{
    background: rgba(38,39,39,0.9);
    background: -webkit-linear-gradient(to top, #1e292e, #16222A);  
    background: linear-gradient(to top, #141516, #1c2d38); 
    transition: 1.5s;
}
.Git-Hub-sobre-mi{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:0vh;
    left:10vw;
}
.email-sobre-mi{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:0vh;
    right:10vw;
}
.index-sobre-mi{
    position:absolute;
    display:block;
    right:2vw;
    padding:5px 10px;
    border-radius:50px;
    background-color: #050505;
    width: auto;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(231, 214, 214, 0.2);
    top:195vh;
}
.index-sobre-mi:hover{
    background-color: #242728;
}
/*----------------proyectos finalizados---------------------*/
.card-proyectos-finalizados{
    position:fixed;
    background-color: #3bb1b1;
    opacity:0.7;
    top:30vh;
    width:30vw;
    height:auto;
    left:5vw;
}
.card-img-top-proyecto-finalizado{
    width:90%;
    height:auto;
    display: block;
    margin: auto;
    border-radius:5px;
}
.card-title-title-proyecto-finalizados{
    font-size:2rem;
    font-family:'titilium';
    text-align: center;
    text-decoration:underline 2px red;
}
.card-title-title-proyecto-finalizados:first-letter{
    font-size: 3rem;
}
.card-texto-proyecto-finalizados{
    font-family:'SourceSansPro';
    font-size:1.6rem;
}
.card-texto-proyecto-finalizados::first-letter{
    font-size:3rem;
}
.btn-primary {
    font-family:"SourceSansPro";
    background-color:rgb(16, 15, 15);
    text-decoration: none;
    border-style:none;
}
.btn-primary:hover {
    --bs-btn-hover-bg: rgb(40,140,160,0.8);
}
.card-btn-btn-primary-proyecto-finalizado{
    position: absolute;
    top:1vh;
    right:90px;
}
.card-2-proyectos-finalizados{
    position:fixed;
    background-color: #3bb1b1;
    opacity:1;
    top:30vh;
    width:30vw;
    height:auto;
    right:5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1rem;
}
.card-2-img-top-proyecto-finalizado{
    width:90%;
    height:auto;
    display: block;
    margin: auto;
    border-radius:5px;
}
.card-2-title-proyecto-finalizados{
    font-size:2rem;
    font-family:'titilium';
    text-align: center;
    text-decoration:underline 2px red;
}
.card-2-title-proyecto-finalizados::first-letter{
    font-size: 3rem;
}
.card-2-texto-proyecto-finalizados{
    font-family:'SourceSansPro';
    font-size:1.6rem;
}
.card-2-texto-proyecto-finalizados:first-letter{
    font-size:3rem;
}
.redes-sociales-proyectos-realizados{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:125vh;
    width:100%;
    height: 10%;
    background-color: #262727;
    opacity: 0.9;
    font-family:"finger";
}
.redes-sociales-proyectos-realizados:hover{
    background: rgba(38,39,39,0.9);
    background: -webkit-linear-gradient(to top, #1e292e, #16222A); 
    background: linear-gradient(to top, #141516, #1c2d38); 
    transition: 1.5s;
}
.Git-Hub-proyectos-realizados{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:0vh;
    left:10vw;
}

.email-proyectos-realizados{
    flex-basis:50px;
    flex-shrink:3;
    position: absolute;
    top:0vh;
    right:10vw;
}
.index-proyectos-realizados{
    position:absolute;
    display:block;
    right:2vw;
    padding:5px 10px;
    border-radius:50px;
    background-color: #050505;
    width: auto;
    cursor: pointer;
    text-overflow:ellipsis;
    box-shadow: 0 10px 16px 0 rgba(231, 214, 214, 0.2);
    top:115vh;
}
.index-proyectos-realizados:hover{
    background-color: #242728;
}